.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    
}

.backtxt {
    position: absolute;
    padding-left: 13%;
    font-size: large;
    color: #7E7E82;
}

.backtxt1 {
    position: fixed;
    left: 8.5cm;
    font-size: large;
    background: linear-gradient(to right, #7E7E82, #7e7e8200);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.back {
    position: absolute;
    padding-top: 2%;
    padding-left: 8%;
    width: 246px;
    height: 40px;
}

.osnova {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.uslugi {
    position: relative;
    padding-left: 8%;
    font-size: 28px;
    font-family: ttlakes;
}
.palka {
    position: absolute;
    padding-top: 6%;
}

.icon1 {
    position: relative;
    width: 50px;
    top: 9px;
}

.icon {
    position: relative;
    width: 50px;
    top: 9px;
}

.icon3 {
    position: relative;
    width: 50px;
    top: 9px;
}

.icon4 {
    position: relative;
    width: 50px;
    top: 9px;
}

.divider {
    position: relative;
    top: 9px;
}

.maintxt {
    position: relative;
    padding-top: 15%;
    padding-left: 8%;
    font-size:large;
    line-height: 18px;
    width: 90%;
    height: 90px;
}

.expand {
    position: absolute;
    padding-left: 8%;
    padding-top: 3%
}

.exptxt {
    padding-top: 3%;
    padding-left: 15%;
    font-size: larger;
}

.pic {
    width: 100%;
    justify-content: space-between;
    padding-top: 5%;
}

body {
    margin: 0;
 }

 .divider1 {
    display: none;
 }

 .iconlap1 {
    display: none;
 }

 .iconlap2 {
    display: none;
 }

 .iconlap3 {
    display: none;
 }

 @media (min-width: 768px) {
    .header {
        justify-content: right;
        padding: 16px;
    }
    .icon1 {
        display: flex;
        position: absolute;
        padding-right: 95%;
        width: 50px;
        top: 2.3%;
    }
    .icon2 {
        display: flex;
        position: absolute;
        padding-right: 80%;
        top: 9px;
    }

    .icon3 {
        display: flex;
        position: absolute;
        padding-right: 6%;
        top: 2.3%;
    }

    .icon4 {
        display: flex;
        position: absolute;
        padding-right: 0.1%;
        top: 2.3%;
    }

    .divider {
        display: flex;
        position: absolute;
        padding-right: 93.5%;
        top: 20px;
    }

    .divider1 {
        display: flex;
        position: absolute;
        padding-right: 13%;
        top: 20px;
    }

    .iconlap1 {
        display: flex;
        position: absolute;
        padding-right: 15%;
        top: 2.3%;
    }

    .iconlap2 {
        display: flex;
        position: absolute;
        padding-right: 22%;
        top: 2.3%;
    }

    .iconlap3 {
        display: flex;
        position: absolute;
        padding-right: 29%;
        top: 2.3%;
    }

    .uslugi {
        display: ;
    }

    }
 

    @media (min-width: 1426px) {
        .header {
            justify-content: right;
            padding: 16px;
        }
        .icon1 {
            display: none;
            position: absolute;
            padding-right: 95%;
            width: 50px;
            top: 2.3%;
        }
        .icon2 {
            display: flex;
            position: absolute;
            width: 30%;
            padding-right: 80%;
            top: 9px;
        }
    
        .icon3 {
            display: flex;
            position: absolute;
            padding-right: 6%;
            top: 2.3%;
        }
    
        .icon4 {
            display: flex;
            position: absolute;
            padding-right: 0.1%;
            top: 2.3%;
        }
    
        .divider {
            display: flex;
            position: absolute;
            padding-right: 93.5%;
            top: 20px;
        }
    
        .divider1 {
            display: flex;
            position: absolute;
            padding-right: 13%;
            top: 20px;
        }
    
        .iconlap1 {
            display: flex;
            position: absolute;
            padding-right: 15%;
            top: 2.3%;
        }
    
        .iconlap2 {
            display: flex;
            position: absolute;
            padding-right: 22%;
            top: 2.3%;
        }
    
        .iconlap3 {
            display: flex;
            position: absolute;
            padding-right: 29%;
            top: 2.3%;
        }
    
        }